.ms-choice{
    height: 30px !important;
}

.buttonPosition
{
	margin-top: -23px;
}

.alineamiento
{
	padding-right: 0px;
	padding-left: 0px;
}

.ocultar
{
	display: none;
}

.alinearTexto
{
	margin-left: 5px;
}